html {
  height: 100%;
  width: 100%;
  background-image: url('https://t4.ftcdn.net/jpg/03/02/24/03/360_F_302240356_qGADyljXwcPbioTAACmo1OdYY3vG6jBn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align:center;
  display: flex;
  justify-content: center;
}


header{
  font-family:Verdana;
  background-color: white;
  margin:0;
  border-radius: 50px;
  text-align: center;
  padding:15px;
  font-size:17px;
  width:100%;
  margin-top:20px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagemdado{
  height:80px;
  width:80px;
}
/*configuração das divs dos dados*/
.dado{
  background-image:url("https://img.freepik.com/free-photo/brown-wooden-flooring_53876-90802.jpg?w=360");
  border: solid 10px;
  font-family:Arial;
  color:darkgrey;
  border-color:black;
  font-size:32px;
  border-radius: 0 50px 0 50px;
  height: 180px;
  width: 180px;
  text-align:center;
  margin:10px;
  background-position: center;
}

.botao_dado {
height: 30px;
width: 140px;
border-radius: 20px;
background: linear-gradient(to bottom, #3c95e6, #0178bd);
border: none;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
color: white;
font-size: 16px;
cursor: pointer;
transition: all 0.2s ease-in-out;
}

.botao_dado:hover {
transform: scale(1.1);
background: linear-gradient(to bottom, #0178bd, #3c95e6);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
color: #fff;
}

.caixa_texto {
border: none;
border-radius: 10px;
padding: 10px;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
font-size: 16px;
font-family: "Roboto", sans-serif;
color: black;
width: 42%;
height: 60px;
background-image: url('"https://img.freepik.com/free-photo/brown-wooden-flooring_53876-90802.jpg?w=360');
background-size: cover;
background-position: center;
margin:15px;
}

.caixa_texto:focus {
outline: none;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}



  
}
